.top-margin {
	margin-top:20px; 
}

.title {
	color:blue; 
}

.item {
	font-weight: bold; 
}

.border {
	border: none; 
}

.top {
	font-size: 1.5em;
	margin-left: 49em;
	color: #511c39;
}

.top:hover {
    color: #772953;
}